* {
  padding: 0px;
  margin: 0px;
}

#landing-page {
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-size: cover;
  color: white;
}

#landing-page img {
  padding-top: 160px;
  padding-bottom: 25px;
}

#landing-page p {
  font-size: 10px;
  font-weight: bold;
}

h2 {
  font-weight: bolder;
}

#about-us p {
  font-weight: normal;
}

#services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  padding: 90px 0px 90px 0px;
  color: white;
}
#what-we-do{
  padding-bottom: 10%;
}
#what-we-do h6 {
  font-weight: bold;
}

#design-content, #dev-content, #product-content {
  display: none;
}

#portfolio {
  width: 75%;
  margin: auto;
}

#portfolio p {
  text-align: center;
}
#portfolio img{
  padding-bottom: 15%;
}
.title1 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title2 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title3 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title4 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title5 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title6 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title7 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

.title8 {
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  color: white;
}

#contacts {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  color: white;
}

#contacts input, #contacts textarea {
  background-color: transparent;
}

#message, #fName, #mail {
  color: white;
}

#footer h6 {
  font-size: 15px;
  font-weight: bolder;
}

#footer img {
  padding-bottom: 30px;
}

#footer a {
  text-decoration: none;
}